
/* Header Start */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0 20px; */
    background-color: #000;
    padding: 10px;
    /* border-radius: 10px; */
    position:fixed;
    width: 100%;
    z-index: 5555;
}
header img {
    width: 50px;
    border-radius: 50%;
}
header img:hover {
    opacity: 0.5;
    cursor: pointer;
    padding: 1px;
}
header .ul-large {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}
header .ul-large li {
    background-color: rgba(0, 0, 0, 0.453);
    padding: 10px;
    border-radius: 10px;
}
header .ul-large li a {
    text-decoration: none;
    color: white;
}
header .main-list  {
    display: none;
}
header .main-list .list {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
header .main-list .list .option {
    width: 30px;
    height: 2px;
    background-color: aliceblue;
}
header .main-list .list:hover .ch {
    width: 30px;
    transition: .5s;
}
header .main-list .list .ch {
    width: 15px;
}
header .main-list .list .ul-small::before {
    content: "";
    border: 15px solid black;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -30px;
    left: 43%;
}
header .main-list .list:hover .ul-small {
    display: block;
}
header .main-list .list .ul-small  {
    display: none;
    background-color: rgba(0, 0, 0, 0.449);
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 20px;
    list-style: none;
    z-index: 2222;
}
header .main-list .list .ul-small li  {
    padding: 10px;
}
header .main-list .list .ul-small li:not(:last-child)  {
    border-bottom: 1px solid white;
}
header .main-list .list .ul-small li:hover {
    cursor: pointer;
}
header .main-list .list .ul-small li:hover a {
    padding-left: 15px;
    transition: padding 1s;
}
header .main-list .list .ul-small li a {
    text-decoration: none;
    color: white;
}

/* header .ch-color {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.406);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid white;
}
header .ch-color .black {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    animation-name: co;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
header .ch-color .gradient {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #ffffff, #000000);
    border-radius: 50%;
    animation-name: co;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
header .ch-color .on {
    cursor: pointer;
}
header .ch-color .white {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid;
    animation-name: co;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* Media Start In Header */
@media (max-width: 951px) {
    header .ul-large {
        /* display: none; */
        visibility: hidden;
    }

    header .main-list  {
        display: block;
    }
}
@media (max-width: 400px) {
    header .main-list .list .ul-small::before {
        left: 35%;
    }

}
/* Media End In Header */
/* Animation in header Start */
@keyframes co {
    0% {
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
/* Animation in header End */
/* Header End */
