/* Skills Start */
.skills {
    width: 100%;
    background-color: transparent;
    color: balck;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    row-gap: 60px;
}

.skills h2 {
    font-weight: bold;
    color: black;
    background-color: #908e8e;
    padding: 10px;
    border-radius: 10px;
}

.skills ul {
    display: flex;
    width: 95vw;
    padding: 2vw;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.skills ul li {
    color: white;
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(135, 134, 134);

    flex-direction: column;
    gap: 10px 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px 15px;
    position: relative;
}

.skills ul li:hover {
    cursor: pointer;
}

.skills ul li h3 {
    color: black;
    background-color: #908e8e;
    padding: 10px;
    border-radius: 10px;
}
.skills ul li h4 {
    background-color: #908e8e;
    padding: 5px;
    border-radius: 5px;
    color: rgba(0, 128, 0, 0.566);
}
.skills ul li i {
    font-size: 50px;
    }

.bc {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    background-color: #908e8e;
    z-index: -1;
    border-radius: 10px 15px;
    transition: height 1s;

}

.skills ul li:hover .bc {
    height: 100% !important;
}

.skills ul li img {
    width: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Screen Mobile Start */
@media (max-width: 951px) {
    .skills ul {
        flex-wrap: wrap;
    }
}

/* Screen Mobile End */
/* Skills End */
