/* Skills Start */
.skills {
    width: 100%;
    background-color: transparent;
    color: balck;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    row-gap: 60px;
}

.skills h2 {
    font-weight: bold;
    color: white;
}

.skills ol {
    display: flex;
    width: 95vw;
    padding: 2vw;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.skills ol li {
    color: white;
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    flex-direction: column;
    gap: 10px 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px 15px;
    position: relative;
}

/* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    cursor: pointer;
} */

.skills ol li[type="range"] {
    color: white;
}

.skills ol li:hover {
    cursor: pointer;
    padding: 30px;
}

.skills ol li h3 {}

.skills ol li i {}

.bc {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    background-color: #908e8e;
    z-index: -1;
    border-radius: 10px 15px;
    transition: height 1s;

}

.skills ol li:hover .bc {
    height: 100% !important;
}

.skills ol li img {
    width: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Screen Mobile Start */
@media (max-width: 951px) {
    .skills ol {
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
}

/* Screen Mobile End */
/* Skills End */
