/* Projects Start */
 .projects {
    width: 100%;
    padding: 50px 0 0 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
 .projects h2 {
    background-color: #908e8e;
    padding: 10px;
    border-radius: 10px;
 }
 .projects ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    list-style: none;
    padding: 50px;
    gap: 20px;
 }
 .projects ul li {
    border: 2px solid rgb(135, 134, 134);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px ;
    flex-direction: column-reverse;
    overflow: hidden;
    border-radius: 10px;
 }
 .projects ul li h3 {}
 .projects ul li h3 a {
    color: black;
    background-color: #908e8e;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
 }
.projects ul li img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Projects End */
/* Screen Mobile Start */
@media (max-width: 951px) {
    .projects ul {
        flex-wrap: wrap;
    }
}
/* Screen Mobile End */