/* Projects Start */
 .projects {
    width: 100%;
    padding: 5%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    overflow: hidden;
}
.projects .main-heading {
   color: white;
   background-color: rgba(149, 143, 143, 0.547);
   padding: 10px;
   border-radius: 10px;
}
.projects .child-projects {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   row-gap: 20px;

}
.projects .project {
   display: flex;
   flex-direction: column-reverse;
   /* border: 2px solid black; */
   border-radius: 10px;
   /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(0, 0, 0, 0.544); */
   /* box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5), -1px -1px 10px rgba(255, 255, 255, 0.544); */
   width: 300px;
   height: 200px;
   justify-content: flex-end;
   align-items: center;
   /* row-gap: 10px; */
   margin: 0 5px;
   overflow: hidden;
}
.projects .project:hover img {
   scale: 1.2;
   transition: 1s;
}
.projects .project .btn-project {
   background-color: rgb(142, 142, 142);
   padding: 10px 110px;
   margin-top: 10px;
   text-decoration: none;
   color: black;
   font-weight: bold;
   border-radius: 5px;
}
.projects .project img {
   width: 100%;
   height: 100px;
   opacity: 0.7;

}
/* Projects End */
/* Screen Mobile Start */
@media (max-width: 1200px) {
    .projects .child-projects {
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) {
   /* .project {
      width: 100px !important;
   } */
}
/* Screen Mobile End */
/* Animation Start */

/* Animation End */